@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(26, 86, 219, 0.7);
  border-radius: 5px;
  /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(26, 86, 219, 1);
  /* Color of the scrollbar handle on hover */
}